nav{
  display:flex;
  justify-content: space-around;
  background-color: #2A66CA;
}
nav img{
  margin-top: 25px;
}
nav h1{
  font-size: 28px;
  font-weight: bold;
  color: #97C643;
}
nav ul{
  margin: 0;
}
nav ul li{
  display: inline-block;
}
nav li a{
  display:inline-block;
  font-size:25px;
  color:#041729;
  text-decoration:none;
  margin:25px 30px 20px 0;
}
nav li a:hover{
  background-color:#E9B149;
}
.notification {
  background-color: #555;
  color: white;
  height: 60%;
  text-decoration: none;
  padding: 15px 26px;
  margin-top: 15px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: skyblue;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: seagreen;
  color: white;
}
